<header class="h-14 bg-surface border-b border-neutralGray px-4 flex justify-between items-center">
  <%= link_to 'カタトーク', root_path, class: 'text-heading-lg text-textPrimary font-semibold' %>
  <button data-action="click->sidebar#toggle" aria-label="メニュー" class="p-2">
    <%= lucide_icon("menu", class: "w-6 h-6 text-textSecondary") %>
  </button>
</header>
